
body,html {  
    font-family: "Playfair Display";
    font-size: 16px;
    background-color: midnightblue;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

body {
    opacity: 0.9;
  
}
.quote-box {
  border-radius:3px;
  position:relative;
  margin:8% auto auto auto;
  width:550px;
  padding:20px 20px;
  display:table;
  background-color:lightgray;
  opacity: 0.8;
}

p {
    font-family: "Playfair Display";
    font-size: 16px;
}

h1 {
    font-family: "Playfair Display";
    font-size: 30px;
    color: black;
  
}

.border {
    border-radius: 3px;
    position: relative;
    margin:8% auto auto auto;
    width: 300px;
    height: 100px;
    background-color: lightgray;
    opacity: 0.8;
}

#dvImage {
    background-size: cover;
}





